*{  
  padding: 0;
}
html,
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
h1{
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
}
h2{
  font-family: "Roboto",sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
h3{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
p{
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #4D5AE5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo span{
  color: #2e2f42;
}
ul li{
  list-style-type: none;
}
nav ul li a{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
nav ul li a:hover{
  color: #404bbf;
}
nav ul li a:focus{
  color: #404bbf;
}
address{
  font-style: normal;
}
address ul li a{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
address ul li a:hover{
  color: #404bbf;
}
address ul li a:focus{
  color: #404bbf;
}
.effective{
  background-color: #2e2f42
}
.effective button{
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.effective button:hover{
  background-color: #404BBF;

}
.effective button:focus{
  background-color: #404BBF;
  cursor: pointer;  
}
.our-team{
  background-color: #f4f4fd;
}
.our-team .card{
  background-color: #FFFFFF;
}
footer{
  background-color: #2E2f42;
}
footer a .studio{
  color: #F4F4FD;
}
footer p{
  color: #F4F4FD;
}