* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
h1{
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
}
h2{
  font-family: "Roboto",sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
h3{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
p{
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #4D5AE5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo span{
  color: #2E2F42;
}
nav ul li a{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: #2E2F42;
}
nav ul li a:hover{
  color: #404bbf;
}
nav ul li a:focus{
  color: #404bbf;
}
address ul li a{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
address ul li a:hover{
  color: #404bbf;
}
address ul li a:focus{
  color: #404bbf;
}
.Effective{
  background-color: #2e2f42
}
.Effective button{
  background-color: #4D5AE5;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.Effective button:hover{
  background-color: #404BBF;

}
.Effective button:focus{
  background-color: #404BBF;
  cursor: pointer;  
}
.our-team{
  background-color: #f4f4fd;
}
footer{
  background-color: #2E2f42;
}